.navbar img {
  width: 100px;
  cursor: pointer;
}

.me-auto{
  padding: 5px;
  font-size: 15px;
  margin: 20px;
}

.nav-all {
  background-color: #028c6a;
}

.carousel-item {
  height: 280px;
  background-color: #fd9735;
}

.loginicon {
  width: 15%;
}