.menubar {
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 30px;
}

.banner {
  width: 100%;
  height: 200px;
  margin-bottom: 2%;
  border: 1px solid red;
  background-color: orange;
}