.menuimg {
  width: 50%;
  margin-left: 25%;
  margin-top: 3%;
  overflow: hidden;
}

.orderbutton {
  margin-left: 78%;
  border-radius: 5%;
  margin-top: 1%;
}

.recommendimg {
  overflow: hidden;
  border-radius: 10%;
}

.price {
  margin-right: 70%;
  margin-top: -5%;
}