*{
  padding: 0;
  margin: 0;
  box-sizing : border-box;
}
body{
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.privacy-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  padding: 40px;
  box-sizing: border-box;
  margin-top: -7%;
}

.privacy-all > h2{
  font-size: 24px;
  color: black;
  margin-bottom: 30px;
}

#privacy-form > input{
  width: 500px;
  height: 20%;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #F8F8F8;
}

#privacy-form > input[type="submit"]{
  color: #fff;
  font-size: 16px;
  background-color: #6A24FE;
  margin-top: 20px;
}

.privacy-all label {
  font-size: 16px;
  padding: 2px;
}

.Approval-list {
  list-style-type: none;
  margin-left: -8%;
}

li {
  cursor: pointer;
  margin: 2%;
}

li > label {
  cursor: pointer;
}

